/*
Copyright 2015 Andrew Bryant & Patrick Lathan
*/
/* 
    Created on : Oct 19, 2015, 1:30:08 PM
    Author     : drewbryant
*/
body{
  margin: 0em;
  border: 0em;
  padding: 0em;
}
h1{
  color: blue;
}
div{
  width: 75%;
  margin: auto;
  border: solid blue;
  padding: 25px;
}
form{
  width: 500px;
  margin: auto;
}
input[type="text"], input[type="number"]{
  width: 15em;
  margin-bottom: .5em;
}
label{
  text-align: right;
  width: 10em;
  float: left;
  margin-right: .5em;
}
footer{
  width: 75%;
  margin: auto;
  border: solid blue;
  padding: 25px;
}
.noshow{
  color: white;
}
